<a href="https://colab.research.google.com/github/Amal642/Car-Price-Prediction-Model/blob/main/Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Car** **Price** **Prediction** 

Based on Various Features

1.Name

2.Year

3.KM Driven

4.fuel

5.Seller Type

6.Transmission

7.Owner

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv("/content/drive/MyDrive/car_data.csv")
dataset.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [ ]:
dataset["seller_type"].value_counts()

Individual          3244
Dealer               994
Trustmark Dealer     102
Name: seller_type, dtype: int64

Dividing into dependent and independent Variables

In [ ]:
x=dataset.iloc[:,[1,3,5,6]].values # to get array we use .values
y=dataset.iloc[:,[2]].values

using labelencoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
x[:,2]=lb.fit_transform(x[:,2])
lb1=LabelEncoder()
x[:,3]=lb1.fit_transform(x[:,3])#fit tries to find the relation btw the datas,transform used to transform the relation to labelencoder

In [ ]:
print(x.shape)

(4340, 4)

Splitting the data into training data and testing data

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

print(x_train[0,:])

[2015 175000 1 1]

using any algorithm(here random forest regressor)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
#n_estimators=500,random_state=0
reg=RandomForestRegressor()
reg.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
accuracy=reg.score(x_test,y_test)
print(accuracy*100,"%")

67.86716915630738 %

In [ ]:
new_data=[2017,7000,"Petrol","Manual"]
new_data[2]=lb.transform([new_data[2]])[0]
new_data[3]=lb1.transform([new_data[3]])[0]

In [ ]:
print(new_data)
reg.predict([new_data])

[2017, 7000, 0, 0]

array([5511900.])

In [ ]:
import pickle
pickle.dump(reg,open("regressor.pkl",'wb'))
pickle.dump(lb,open("lb","wb"))
pickle.dump(lb1,open("lb1","wb"))